body {  
  background-color: hsl(212, 45%, 89%);
  font-family: 'Outfit', sans-serif;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  max-width: 194px; 
  background-color: hsl(0, 0%, 100%);
  padding:  16px;
  border-radius: 10px;
  height: 300px;
  text-align: center;
}

img {
  width: 100%;
  border-radius: 10px;
  margin: 0px;
}

.firstMsg {
  font-weight: 700;
  color: hsl(218, 44%, 22%);  
  margin-bottom: 5%;
  font-size: .658rem;
  border: 0;
  padding: 0 10px;
}

.secondMsg {
  font-weight: 400;
  color: hsl(220, 15%, 55%);
  font-size: 0.50rem;
  border: 0;
  margin-top: 2%;
  padding: 0;
}

.attribution {
  position: fixed;
  bottom: 0;
  right: -50;
}
